* {
    margin: 0;
    padding: 0;

}


#main-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
text-align: center;
}


img {
    border: solid 50px rgba(228, 159, 63, 0.644);
    margin-left: 597px; 
    margin-top: 20px;

}

button {
 margin-top: 200px;
}